.navbar .collapse.navbar-collapse > ul > li > .dropdown-item > span > i {
  -webkit-transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important; }

.navbar .collapse.navbar-collapse > ul > li > a:hover {
  background: none !important; }

.navbar .dropdown-sub li {
  padding: 0 !important; }
  .navbar .dropdown-sub li i {
    float: right !important;
    padding-right: 5px;
    padding-top: 3px; }

.navbar .dropdown-sub li > a:hover:after {
  display: none; }

.navbar .dropdown-sub .dropdown-sub li {
  padding: 0 !important; }
  .navbar .dropdown-sub .dropdown-sub li a {
    color: black !important; }

.navbar .dropdown-sub .dropdown-sub li:hover {
  background: #eee; }
  .navbar .dropdown-sub .dropdown-sub li:hover a:hover {
    background: none; }
    .navbar .dropdown-sub .dropdown-sub li:hover a:hover:after {
      display: none; }

.navbar .navbar-nav ul.dropdown-menu .dropdown-sub li.show a {
  color: black !important; }

.navbar .navbar-nav ul.dropdown-menu .dropdown-sub li.show a {
  background: none !important; }


.purpose-wrapper .img-wrap {
  position: relative;
  padding-bottom: 35%;
  overflow: hidden;
  float: left;
  width: 50%;
  margin-right: 20px; 
}



.purpose-wrapper img {
  position: absolute;
  max-height: none !important;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 992px){
  .purpose-wrapper .img-wrap {
    padding-bottom: 56.25%;
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }

}








