@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?wd67e0");
  src: url("fonts/icomoon.eot?wd67e0#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?wd67e0") format("truetype"), url("fonts/icomoon.woff?wd67e0") format("woff"), url("fonts/icomoon.svg?wd67e0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pencil2:before {
  content: "\1f300"; }

.icon-quill:before {
  content: "\e907"; }

.icon-man-woman:before {
  content: "\e9de"; }
